<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--Service层标准信息实现类 -->
	<bean id="StandardServiceImpl" class="com.bdqn.spz.stusystem.service.impl.StandardServiceImpl">
		<property name="standardDao" ref="IStandardDao"></property>
	</bean>
</beans>
