<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.app.dao.devuser.IDevUserDao"><!--映射的接口-->
	<!-- 开发者登陆 -->
	<select id="findDevUser" resultType="DevUser">
		select * from dev_user where devCode=#{devCode} and devPassword=#{devPassword}
	</select>
</mapper>
