<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.app.dao.appinfo.IAppInfoDao"><!--映射的接口 -->

	<!--APP状态，所属平台 -->
	<select id="findValueName" resultType="DataDictionary"
		parameterType="String">
		select id,valueId,valueName from data_dictionary where
		typeName=#{typeName}
	</select>

	<!-- 一,二,三级分类 -->
	<select id="findCategoryLevel" resultType="AppCategory"
		parameterType="Integer">
		select id,categoryName from app_category where parentId
		in (#{parentId})
	</select>

	<!-- 模糊查询app信息(分页) -->
	<select id="findAppInfos" resultType="AppInfo">
		select a.id,
		a.softwareName,a.APKName,a.supportROM,a.softwareSize,a.devId,
		(select devName from dev_user where id = a.devId) as devName,
		a.status,
		(select valueName from data_dictionary d where a.status=d.valueId AND
		d.typeCode='APP_STATUS') as statusName,
		a.flatformId,
		(select valueName from data_dictionary d where a.flatformId=d.valueId AND
		d.typeCode='APP_FLATFORM') as flatformName,
		a.categoryLevel1,
		(select categoryName from app_category c where c.id=a.categoryLevel1) as
		categoryLevel1Name,
		a.categoryLevel2,
		(select categoryName from app_category c where c.id=a.categoryLevel2) as
		categoryLevel2Name,
		a.categoryLevel3,
		(select categoryName from app_category c where c.id=a.categoryLevel3) as
		categoryLevel3Name,
		a.downloads,
		a.onSaleDate,
		a.versionId,
		(select v.versionNo from app_version v where v.id=a.versionId ) as versionNo
		from app_info a
		<trim prefix="where" prefixOverrides="or|and">
			<if test="appInfo.softwareName != null and appInfo.softwareName != ''">
				and a.softwareName like CONCAT
				('%',#{appInfo.softwareName},'%')
			</if>
			<if test="appInfo.status != null">
				and a.status = #{appInfo.status}
			</if>
			<if test="appInfo.categoryLevel1 != null">
				and a.categoryLevel1 = #{appInfo.categoryLevel1}
			</if>
			<if test="appInfo.categoryLevel2 != null">
				and a.categoryLevel2 = #{appInfo.categoryLevel2}
			</if>
			<if test="appInfo.categoryLevel3 != null">
				and a.categoryLevel3 = #{appInfo.categoryLevel3}
			</if>
			<if test="appInfo.flatformId != null">
				and a.flatformId = #{appInfo.flatformId}
			</if>
			<if test="appInfo.devId != null">
				and a.devId = #{appInfo.devId}
			</if>
		</trim>
		order by creationDate DESC limit #{currentPageNo},#{pageSize}
	</select>

	<!--模糊查询app信息总数量(分页) -->
	<select id="findAppInfosCount" resultType="Integer"
		parameterType="AppInfo">
		select count(*) from app_info a
		<trim prefix="where" prefixOverrides="or|and">
			<if test="appInfo.softwareName != null and appInfo.softwareName != ''">
				and a.softwareName like CONCAT
				('%',#{appInfo.softwareName},'%')
			</if>
			<if test="appInfo.status != null">
				and a.status = #{appInfo.status}
			</if>
			<if test="appInfo.categoryLevel1 != null">
				and a.categoryLevel1 = #{appInfo.categoryLevel1}
			</if>
			<if test="appInfo.categoryLevel2 != null">
				and a.categoryLevel2 = #{appInfo.categoryLevel2}
			</if>
			<if test="appInfo.categoryLevel3 != null">
				and a.categoryLevel3 = #{appInfo.categoryLevel3}
			</if>
			<if test="appInfo.flatformId != null">
				and a.flatformId = #{appInfo.flatformId}
			</if>
			<if test="appInfo.devId != null">
				and a.devId = #{appInfo.devId}
			</if>
		</trim>
		order by creationDate DESC
	</select>
	
	<!-- 新增App信息 -->
	<insert id="insertAppInfo" parameterType="AppInfo">
		insert into app_info
		(softwareName,APKName,supportROM,interfaceLanguage,updateDate,softwareSize,
		devId,appInfo,status,categoryLevel1,categoryLevel2,categoryLevel3,downloads,flatformId,
		logoPicPath,logoLocPath,createdBy,creationDate)
		values(#{appInfo.softwareName},#{appInfo.APKName},#{appInfo.supportROM},#{appInfo.interfaceLanguage},
		#{appInfo.updateDate},#{appInfo.softwareSize},#{appInfo.devId},#{appInfo.appInfo},#{appInfo.status},
		#{appInfo.categoryLevel1},#{appInfo.categoryLevel2},#{appInfo.categoryLevel3},#{appInfo.downloads},
		#{appInfo.flatformId},#{appInfo.logoPicPath},#{appInfo.logoLocPath},#{appInfo.createdBy},#{appInfo.creationDate})
	</insert>
	
	<!-- 查询App信息 -->
	<select id="findAppInfo" resultType="AppInfo" parameterType="Integer">
		select * ,
		(select devName from dev_user where id = a.devId) as devName,
		(select valueName from data_dictionary d where a.status=d.valueId AND
		d.typeCode='APP_STATUS') as statusName,
		(select valueName from data_dictionary d where a.status=d.valueId AND
		d.typeCode='APP_FLATFORM') as flatformName,
		(select categoryName from app_category c where c.id=a.categoryLevel1) as
		categoryLevel1Name,
		(select categoryName from app_category c where c.id=a.categoryLevel2) as
		categoryLevel2Name,
		(select categoryName from app_category c where c.id=a.categoryLevel3) as
		categoryLevel3Name,
		(select v.versionNo from app_version v where v.id=a.versionId ) as versionNo
		from app_info a where a.id=#{appInfoId}
	</select>
	
	<!-- 判断APKName是否存在 -->
	<select id="findAppInfoCount" parameterType="String" resultType="Integer">
		select count(*) from app_info where APKName=#{APKName}
	</select>
	
	<!--删除AppLogo -->
	<update id="updateAppLogo" parameterType="Integer">
		update app_info set
		logoPicPath=null,logoLocPath = null where id = #{appInfoId}
	</update>
	
	<!--修改App信息 -->
	<update id="updateAppInfo" parameterType="AppInfo">
		update app_info
		<trim prefix="set" suffixOverrides="," suffix="where id=#{appInfo.id}">
			<if test="appInfo.softwareName != null">softwareName=#{appInfo.softwareName},</if>
			<!-- <if test="APKName != null">APKName=#{appInfo.APKName},</if> -->
			<if test="appInfo.supportROM != null">supportROM=#{appInfo.supportROM},</if>
			<if test="appInfo.interfaceLanguage != null">interfaceLanguage=#{appInfo.interfaceLanguage},</if>
			<if test="appInfo.updateDate != null">updateDate=#{appInfo.updateDate},</if>
			<if test="appInfo.softwareSize != null">softwareSize=#{appInfo.softwareSize},</if>
			<if test="appInfo.appInfo != null">appInfo=#{appInfo.appInfo},</if>
			<if test="appInfo.status != null">status=#{appInfo.status},</if>
			<if test="appInfo.onSaleDate != null">onSaleDate=#{appInfo.onSaleDate},</if>
			<if test="appInfo.offSaleDate != null">offSaleDate=#{appInfo.offSaleDate},</if>
			<if test="appInfo.categoryLevel1 != null">categoryLevel1=#{appInfo.categoryLevel1},</if>
			<if test="appInfo.categoryLevel2 != null">categoryLevel2=#{appInfo.categoryLevel2},</if>
			<if test="appInfo.categoryLevel3 != null">categoryLevel3=#{appInfo.categoryLevel3},</if>
			<if test="appInfo.downloads != null">downloads=#{appInfo.downloads},</if>
			<if test="appInfo.flatformId != null">flatformId=#{appInfo.flatformId},</if>
			<if test="appInfo.logoPicPath != null">logoPicPath=#{appInfo.logoPicPath},</if>
			<if test="appInfo.logoLocPath != null">logoLocPath=#{appInfo.logoLocPath},</if>
			<if test="appInfo.modifyBy != null">modifyBy=#{appInfo.modifyBy},</if>
			<if test="appInfo.modifyDate != null">modifyDate=#{appInfo.modifyDate},</if>
		</trim>
	</update>
	
	<!-- 修改App最新版本 -->
	<update id="updateVersionId" parameterType="Integer">
		update app_info set
		versionId=
		(select id from app_version v order by creationDate DESC
		limit 0,1)
		where id=#{appId}
	</update>
	
	<!--根据appId删除App信息 -->
	<delete id="deleteAppInfoByAppId" parameterType="Integer">
		delete from app_info where id = #{appId}
	</delete>
</mapper>
