<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!-- 配置是否延迟加载 -->
	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>  
	
    <!--类型别名 -->
    <typeAliases>
        <package name="com.bdqn.spz.ssm.pojo" />
    </typeAliases>
</configuration>
